.hidden {
    display: none;
}
 
.container {
   
    margin: 0 auto;
    
    /* text-align: center; */
}






#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 50px;
	height: 40px;
	transition: all .5s ease;
    margin-top: 10px;
    
    
    cursor: pointer;
    
}


#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
     text-decoration: none;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }
 
 #main-nav li:first-child {
     border-top: 1px solid #efefef;
 }
 
 #main-nav li:last-child {
     margin-bottom: 10px;
 }

#burger-con, #main-nav input {
    display: none;
}

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }



#hero-image{
    
    padding: 0px;
    margin: auto;
    
}
#header-logo{ padding-left: 0px;}