
 .hidden {
    display: none;
}
 

#main-nav button {
   width: 30px;
   height: 30px;
   background: url(../images/burger-menu.svg) no-repeat center;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all .5s ease;
   border: 0;
   cursor: pointer;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
}

#burger-con.slide-toggle {
   display: block;
}


#main-header{
   background-color:gray;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 5px 0 10px 0;
   text-align: center;
   color: whitesmoke;
  
   
   text-decoration: none;
   
}



#main-nav ul li {
   border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

.sign-in {
   background-color: black;
   color: #fff;
   font-size: 16px;
   
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}
#sign-in-header a{
   color: white;
}

.sign-in a:hover {
   box-shadow: inset 0px -120px 0px white;
}

#sign-in-header {
   display: none;
}

#logo {
   max-width: 150px;
   margin-bottom: 10px;
   margin-left: 130px;
   margin-top: -30px;
}

 





















     
#meme1{
   margin-right:-180px ;
   width: 300px;
  }





  #characters {
   text-align: center;
   background-color: grey;
}

.namestaff {
   font-weight: bolder
}

#characters h2 {
   margin-top: 20px;
}

#characters h3 {
   margin-top: 20px;
}

#characters p {
   margin-top: 10px;
}

#characters div {
   margin-top: 15px;
}

#characters img:hover {
   opacity: 70%;
   border-radius:50%;
}

.lightbox { 
    width: 30vw; 
    height: 35vh; 
    border-radius: 2%;
    position: absolute;
    top: 140%;
    left: 35%;
    background-color: rgba(17, 6, 24, 0.938);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 200px;
    left: 85%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: rgb(141, 119, 146); }



.lightbox article {
    width: 80%;
    margin-left: 10%;
    color: white;
}

.lb_text, .lb_heading { text-align: center; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

.lightbox:target { display: block; }























 /**HEADER FINISH MOBILE*/

 #hero-image{
    padding: 0px;
 }
 

 #new-arrivals h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 42px;
    text-align: center;
    
 }
 
 #new-arrival h2 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 42px;
   text-align: center;
   
}
 
 #hero img {
   /* stretch image across all 3 grid columns */
   grid-column: 1/-1;
   /* set the image to stay in first row, so overlap can happen */
   grid-row: 1/1;
   /* make sure the image stays centered at xl screen sizes */
   justify-self: center;
}



#hero-main {
   height: 220px;
   object-fit: cover;
}
#banner h2 {
   font-family: 'Times New Roman', Times, serif;
   color: white;
   font-size: 12px;
   text-align: left;
   padding-left: 10px;
}


#banner{
   
  margin-top: 0PX;
    background-color: black;
    color: aliceblue;
    
}  
#banner h2{
   font-size: 16px;
   margin-top: 15px;
}
#buy-now{
   font-size: 20px;
   
   padding-left: 280px;
  
   

}
#buy-now a {
  
 
   
 
 color: #fff;
 text-decoration: none;
 border-radius: 1px solid white;



   
}




#collection {
  
   margin-top: 20px;
   text-align: center;
   
}

#collection div {
   margin-top: 20px;
}

#collection img {
   margin-top: 20px;
}

#team {
  
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
   background-color: #626262;
   
}

#team div {
   margin-top: 20px;
}

#team div h3 {
   margin-top: 20px;
   font-size: 25px;
   color: white;
}

#team h2{
   font-size: 60px;
   margin-top: 45px;
   color: goldenrod;
}

#yo {
background-color: #522020;

}
#yo h2

{ text-align: center;
font-size: 30px;
margin-top: 20px;

color: goldenrod;}
#yo h3

{margin-top: 20px;
   margin-bottom: 20px;
    text-align: center;
font-size: 30px;}

   #footer{
      background-image: url(../images/footer-desktop-80.jpg);
  }

  

.golden{
   margin-top: 50px;
   margin-bottom: 50px;
}
#contact-form input[type="submit"]:hover {
   background-color: ivory;
   border-radius: 10px;
}


#contact-form input, textarea {
   padding: 14px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 7px;
   margin-bottom: 18px;
   font: inherit;
   align-self: center;
   text-align: center;
}

#contact-form input[type="submit"] {
   padding: 10px 24px;
   background: #00000088;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 120px;
   
   text-align: center;
}

#contact-form input[type="submit"]:hover {
   background-color: ivory;
   border-radius: 10px;
}

#contact-form{
   background-color: #522020;
}

#login{
   margin-left: auto;
   margin-right: auto;
}


.jerry{
   text-align: center;
   justify-content: center;
   margin-left: 50px;
   width: 350px;
   padding: 15px;
}


#jerry1{
   margin-top: 45px;
   margin: 10px;
}

#jun{
   width: 350px;
}

.juni{
   grid-template-columns: 1/12;
}






































@media screen and  (min-width: 760px) {
   #banner{
      
     height: 156px;
   }
   #banner h2{
      font-size: 31px;
   }
   #buy-now{
margin-left: 300px;
font-size: 30px;

   }


   #new-arrival{
      margin-left: 50px;
    }
 
   



   #sticky-nav-con {
      position: sticky;
      background-color: #fff;
      top: 0px;
      border-bottom: solid 1px #c3c3c3;
      z-index: 1;
      /* had to set z-index as css filters was causing images to overlap, see below */
   }

   #button {
      display: none;
   }

   #logo {
      width: 90%;
      margin-top: 10px;
      order: -1;
      margin-left: 30px;
   }

   #burger-con {
      display: block;
      font-size: 13px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0;
   }

   #main-nav {
      margin-top: 4%;
      margin-bottom: 4%;
      border-left: 1px solid #dce0f3;
      padding-left: 30px;
      
   }

   #sign-in-header {
      margin-top: 30px;
      height: 40px;
      display: flex;
      margin-right: -16px;
      margin-right: 5px;
      color: #fdfbfb;
   }

   #sign-in-header p {
      font-size: 12px;
   }

   #sign-in-hero {
      display: none;
   }



.jerry{
   text-align: center;
   justify-content: center;
   margin-left: 200px;
   width: 350px;
}

#meme{
   margin-left: -200px;
}
}

@media screen and  (min-width: 1020px) {
   .jerry{
      text-align: center;
      justify-content: center;
      margin-left: 400px;
      width: 350px;
   }
}